/*Commerce CNP Styles*/

.recurr_option {
  display: none;
}

#payment_options_wrapper {
  margin-left: 18px;
}

.recurring_div_hide {
  display: none;
}

.hideandshow {
  display: block !important;
}

span.redcolor {
  color: red;
}

.cnpstar_color {
  color: #f00;
}

.field--label-inline .field__label::after {
  content: '';
}


/* --------------- Payment Form CSS -------------- */

.cnp_logo {
  float: right;
}

.cnp_fef_front_end {
  padding: 10px 20px !important;
  background-color: #f3f3f3 !important;
  color: #444 !important;
}

.cnp_payment_heading {
  font-size: 20px !important;
  font-weight: bold !important;
  color: #f15a33 !important;
}

.cnp_fef_front_end p {
  margin-bottom: 10px !important;
}

.cnp_form_recurring_label {
  font-size: 16px !important;
}

.cnp_form_payment_options input[type="radio"] {
  width: 15px;
  height: 15px;
}

.cnp_form_payment_options input[type="radio"]:checked:after {
  background-color: #f00 !important;
}

.cnp_accepted_payment_icons img {
  padding-right: 6px !important;
}

.cnp_form_cardnumber input {
  width: 100% !important;
}

.cnp_form_security_code label {
  width: 100% !important;
}

.cnp_form_card_owner input {
  width: 100% !important;
}

.cnp_form_security_code input {
  width: 100% !important;
}

.cnp_form_periodcity input {
  width: 100% !important;
}

.cnp_form_noof_payments input {
  width: 100% !important;
}

.credit-card-form__expiration {
  width: 100%;
  display: table !important;
}

.credit-card-form__expiration .form-item {
  display: block !important;
}

.credit-card-form__expiration select {
  width: 100%;
}

.only_expiry_date {
  padding-right: 15px;
}

.only_year,
.only_expiry_date {
  display: table-cell;
}

.only_year label:after {
  background-image: none;
}

.cnp_form_recurr_options_label p {
  font-size: 12px !important;
  padding-top: 10px !important;
}

.cnp_form_periodcity select {
  width: 100% !important;
}

.cnp_form_noof_payments input {
  width: 100% !important;
}

.cnp_form_recuring_type_option select {
  width: 100% !important;
}


/* --------------- Dashboard CSS -------------- */

[class^="cnp_bform"],
[class*="cnp_bform"] {
  margin-top: 16px;
}

.cnp_bform_receipt_settings h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  color: #0071b3;
  padding-top: 20px;
}

.recurring_set {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  color: #0071b3;
  padding-top: 40px;
}

.cnp_bform_status_check label.option::after,
.cnp_bform_payment_cards label.option::after {
  content: ' ' !important;
}

.cnp_payment_options_wrapper label.option::after,
.cnp_form_payment_options label.option::after {
  content: ' ' !important;
  margin-right: 10px;
}

.signin_with_diff_user {
  margin-bottom: -40px;
  margin-left: 100px;
}